{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    ]
  ],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "targets": ["> 1%", "last 2 versions", "not ie <= 8"]
          }
        ]
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["rainbow"],
          "alias": {
            "rainbow/src": "rainbow/lib"
          }
        }]
      ]
    }
  }
}
